TsubameViewer/*/obj/
TsubameViewer/TsubameViewer.*/bin
TsubameViewer/TsubameViewer.UWP/TsubameViewer.Uwp_temporarykey.pfx
/TsubameViewer/TsubameViewer.UWP/Package.StoreAssociation.xml
/TsubameViewer/TsubameViewer.UWP/AppPackages
/TsubameViewer/TsubameViewer.UWP/BundleArtifacts
/.vs/TsubameViewer/v16/.suo
/TsubameViewer/.vs/TsubameViewer/v16/.suo
*.user
/.vs/TsubameViewer
