body, p, span, div {
    color: #1f1f1f !important;
}

a:link {
    color: #1f1f1f !important;
}

a:visited {
    color: #1f1f1f !important;
}

a:hover {
    color: #1f1f1f !important;
}

a:active {
    color: #1f1f1f !important;
}