<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="18803tor4kichi.TsubameViewer"
    Publisher="CN=DFF1CEA0-5963-4197-8676-6105C5E8CE4B"
    Version="1.3.6.0" />

  <mp:PhoneIdentity PhoneProductId="37bb45e3-5324-4790-b288-51560417bde3" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>TsubameViewer</DisplayName>
    <PublisherDisplayName>tor4kichi</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="TsubameViewer.exe"
      EntryPoint="TsubameViewer.App">
      <uap:VisualElements
        DisplayName="TsubameViewer"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="TsubameViewer"
        BackgroundColor="#83ccd2">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="TsubameViewer" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#83ccd2"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="tsubame_viewer">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="image/jpeg">.jpg</uap:FileType>
              <uap:FileType ContentType="image/png">.png</uap:FileType>
              <uap:FileType ContentType="application/zip">.zip</uap:FileType>
              <uap:FileType ContentType="application/vnd.rar">.rar</uap:FileType>
              <uap:FileType ContentType="application/pdf">.pdf</uap:FileType>
              <uap:FileType ContentType="image/bmp">.bmp</uap:FileType>
              <uap:FileType ContentType="image/tiff">.tif</uap:FileType>
              <uap:FileType ContentType="image/tiff">.tiff</uap:FileType>
              <uap:FileType ContentType="image/svg+xml">.svg</uap:FileType>
              <uap:FileType ContentType="application/epub+zip">.epub</uap:FileType>
              <uap:FileType ContentType="application/vnd.comicbook-rar">.cbr</uap:FileType>
              <uap:FileType ContentType="application/vnd.comicbook+zip">.cbz</uap:FileType>
              <uap:FileType ContentType="application/x-7z-compressed">.7z</uap:FileType>
              <uap:FileType ContentType="application/x-cb7">.cb7</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>TsubameViewer</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>
